<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="Tonda_Mansour_Project"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tonda_Mansour_Project;Integrated Security=True;Connect Timeout=30;Encrypt=False"
			providerName="Sql.Data.SqlClient"/>
	</connectionStrings>
</configuration>
<!--(localdb)\MSSQLLocalDB-->
<!--LAPTOP-H6609NBE-->