<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="TennisProjet"
			connectionString="Data Source=LAPTOP-H6609NBE;Initial Catalog=TennisProjet;Integrated Security=True;Connect Timeout=30;Encrypt=False"
			providerName="Sql.Data.SqlClient"/>
	</connectionStrings>
</configuration>